.playbook-page {
  display: flex;
}

.playbook-content {
  flex: 1;
}

.sidebar-drawer {
  background: var(--color-sidebar-bg);
}

@media (max-width: 980px) {
  .playbook-page {
    display: block;
  }
  .playbook-content {
    width: 100%;
  }
}
